.heading {
  height: auto;
  padding: 1rem 3.6rem;
  display: block;
  position: fixed;
  width: stretch;
  top: 0;
  z-index: 9999;
  background: var(--bg-opaque);
  backdrop-filter: blur(12px);
  font-size: var(--text-md);
  font-weight: bold;

  @media (max-width: 768px) {
    padding: 1.5rem 2.4rem;
  }
}

.flexSpaced_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.sideBar {
    background: transparent;
    height: auto;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

  a {
    margin: 1.2rem 0.5rem;
    padding: 0.75rem;
    flex-shrink: 0;
    font-size: var(--text-sm);
    font-weight: 200;
    display: flex;
    opacity: 0.7;
    transition: 0.1s all;
    width: 100%;
  }

  a:hover {
    background: var(--background);
    border-right: 1px solid var(--brand);
    opacity: 1;
  }

  .selected {
    background: var(--background);
    border-right: 1px solid var(--brand);
    opacity: 1;
  }
}

.switcherButton {
 padding: 1.4rem 1.6rem;
 outline: none;
 border: none;
 position: relative;
 z-index: 20;
 overflow: hidden;
 border-radius: 6px;
 font-weight: 800;
 background: #ffffff0d;
 text-transform: uppercase;
 border: none;
 color: white;
 cursor: pointer;
 transition: 0.2s color;
 
}

.switcherButton::before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--brand);
  height: 100%;
  width: 100%;
  left: -100%;
  top: -100%;
  transition: 0.2s left, 0.2s top;
}

.switcherButton:hover {
  color: var(--background-dark);
}

.switcherButton:hover::before {
  left: 0;
  top: 0;
}

// menu animate style

.navIcon {
  width: 28px;
  height: 28px;
  background: transparent;
  position: relative;
  border: none;
  margin-right: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


.navIcon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: var(--brand);
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



.navIcon span:nth-child(1) {
  top: 6px;
}

.navIcon span:nth-child(2),.navIcon span:nth-child(3) {
  top: 14px;
}

.navIcon span:nth-child(4) {
  top: 22px;
}

.navOpen span:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

.navOpen span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navOpen span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.navOpen span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
